/* Menu page css*/

@font-face {
    font-family: "Lobster-Regular.ttf";
    src: url("resources/org/example/java3_final_project/Fonts/Lobster/Lobster-Regular.ttf");
}

.menu-page HBox {
    -fx-alignment: center;
    -fx-font-family: "Lobster-Regular.ttf";
    -fx-background-color: #006666;
    -fx-text-fill: white;
}

.menu-page .tab {
    -fx-background-color: #9dbcbc;
}

.menu-page .tab:hover {
    -fx-background-color: #fff5bb;
}