/* Menu page css*/

@font-face {
    font-family: "Lobster-Regular.ttf";
    src: url("resources/org/example/java3_final_project/Fonts/Lobster/Lobster-Regular.ttf");
}

.menu-page HBox {
    -fx-alignment: center;
    -fx-font-family: "Lobster-Regular.ttf";
}


.menu-page {

    background-color: lightblue;
}
#menuPage .tabs {
    -fx-background-color: yellow;
    }

Button{
    fx-background-color: #4CAF50;
}